<html>
<head>
  <link rel="icon" href="BOOK.png">
  <link href="styles/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quintessential&family=Source+Serif+4&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>About</title>
</head>
<body>
  <ul>
  <li><a href="http://127.0.0.1:5000/lgbtqhistory.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href= "resources.html">Resources</a></li>
  <li><a href = "terminology.html">Terminology</a></li>
</ul>
<h1>ABOUT</h1>
<p>Invisible. LGBTQ+ history is widely undertaught around the world, and yet 1 in 6 Gen Z adults identify as
  part of the community (The Washington Post). It's time for more awareness to be brought to this minority group,
  especially given the abundance of discrimination and hardship they have faced. Contrary to popular belief,
  many people have identified as LGBTQ+ since the beginning of human history, and many of them are well-known and
  successful individuals. It is important to us that members of the community feel comfortable in their own skin,
  safe, and proud of who they are: by achieving heightened visibility, we intend to make them feel less isolated
  and alone in a society that continues to ostracize and degrade them. Whether you identify or not, please peruse
  this site with an open mind and an open heart: everyone deserves to be seen.</p>
<p>Please be aware that many labels we typically use today, some of which are outlined in the Resources tab, did not exist
  during the lifetimes of many of our historical figures. It is difficult to ascertain for certain how these individuals
  would identify if given the chance, but there is solid backing for, and behavior indicating, a deviation from modern
  cisheteronormative standards. Many of their experiences mirror those of LGBTQ+ individuals today, and the joint
  validation of the LGBTQ+ experience is the ultimate goal of this project.</p>
