<html>
<head>
  <link rel="icon" href="BOOK.png">
  <link href="styles/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
  <link rel= "preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quintessential&family=Source+Serif+4&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Resources</title>
</head>
<body>
  <ul>
    <li><a href="lgbtqhistory.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href= "resources.html">Resources</a></li>
    <li><a href = "terminology.html">Terminology</a></li>
  </ul>

<h1>RESOURCES</h1>
<h2>More Info</h2>
<p> <a href = "https://www.nationalgeographic.com/culture/article/historical-lgbt-figures-activists-culture%22%3E">12 historic LGBTQ figures who changed the world</a>
</p>
<p><a href = "https://www.discovery.com/science/LGBT-Scientists-Who-Changed-World%22%3E">
  5 LGBT Scientists Who Changed the World | Latest Science News and Articles | Discovery </a></p>
<p><a href = "https://www.oregonencyclopedia.org/articles/hart_alan_1890_1962_/#.YgfwhvXMI-Q%22%3E">
  Alan Hart - Oregon Encyclopedia</a>
<p><a href = "https://legacyprojectchicago.org/person/alan-l-hart%22%3E"> Alan Hart - The Legacy Project </a></p>
<p><a href = "https://www.nytimes.com/2007/03/18/books/chapters/0318-1st-kenn.html%22%3E">
  Michael Dillon - The New York Times
</a></p>

<h2>LGBTQ+ Resources</h2>
<p><a href = "https://www.thetrevorproject.org/resources/category/sexual-orientation/%22%3E">
  Sexual Orientation</a></p>
<p><a href = "https://www.thetrevorproject.org/resources/category/gender-identity/%22%3E">
  Gender Identity</a></p>
<p><a href = "https://www.thetrevorproject.org/resources/category/mental-health/%22%3EMental"> Health</a></p>
