
<html>
<head>
  <link rel="icon" href="BOOK.png">
  <link href="styles/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quintessential&family=Source+Serif+4&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Terminology</title>
</head>
<body>
  <ul>
  <li><a href="lgbtqhistory.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href= "resources.html">Resources</a></li>
  <li><a href = "terminology.html">Terminology</a></li>
</ul>
<h1>TERMINOLOGY</h1>
<p><strong>Gay</strong>: someone who likes people of the same gender. It can
  also be used as an umbrella term for members of the LGBTQ+ community. </p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/8/8a/LGBT_Rainbow_Flag.png"
alt = "Image of the pride flag" class = 'flag'>

<p><strong>Lesbian</strong>: a non-man who likes non-men. Historically, it had
  been used to describe women who like women, but more recently has been expanded to include non-binary people. </p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Orange_and_Pink_Lesbian_flag.svg/1200px-Orange_and_Pink_Lesbian_flag.svg.png"
alt = "Image of the lesbian flag" class = 'flag'>

<p><strong>Bisexual</strong>: someone who likes two genders. It can also be used as an umbrella term for people who like more than one gender. </p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Bisexual_Pride_Flag.svg/255px-Bisexual_Pride_Flag.svg.png"
alt = "Image of the bisexual flag" class = 'flag'>

<p><strong>Pansexual</strong>: someone who likes people of all genders. Some pansexuals are genderblind, meaning that gender doesn’t play as a factor in their attraction to someone. </p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Pansexuality_Pride_Flag.svg/640px-Pansexuality_Pride_Flag.svg.png"
alt = "Image of the pansexual flag" class = 'flag'>

<p><strong>Asexual</strong>: Someone who doesn’t experiance sexual attraction. This can also be an umbrella term for those who experience little to no sexual attraction. </p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Asexual_Pride_Flag.svg/2560px-Asexual_Pride_Flag.svg.png"
alt = "Image of the asexual flag" class = 'flag'>

<p><strong>Demisexual</strong>: Someone who only experiences sexual attraction after an emotional bond has been established</p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/1/1c/Demisexual_Flag.jpg"
alt = "Image of the demisexual flag" class = 'flag'>

<p><strong>Transgender</strong>: someone who’s gender identity is different than the one they were assigned at birth.
  This includes non-binary people, but most of the time is referred to people who switch between man and woman.
  For example, if Emily is a trans girl, it means that she is a girl, who’s assigned sex at birth was male, and then she transitioned. </p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Transgender_Pride_flag.svg/255px-Transgender_Pride_flag.svg.png"
alt = "Image of the transgender flag" class = 'flag'>

<p><strong>Non-binary</strong>: Someone who identifies as something besides a girl or a boy. </p>
<img src = "https://www.stonewall.org.uk/sites/default/files/styles/person_hero/public/1280px-nonbinary_flag.svg_.png?itok=sykEzwb2"
alt = "Image of the non-binary flag" class = 'flag'>

<p><strong>Agender</strong>: Someone who doesn’t have a gender</p>
<img src = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQwAAAC8CAMAAAC672BgAAAAG1BMVEUAAAD///+5ubm49IMpKSnAwMDMzMzj+tG19Hx+W45NAAABJklEQVR4nO3csQ2DABAEwccG4/4rJnttRAUzJWx60s0AAAAAAAAAL07WXKz5sMQIMUKMECPECDFCjBAjxAgxQowQI8QIMUKMECPECDFCjBAjxAgxQowQI+bHmoMlRogRYoQYIUaIEWKEGCFGiBFihBghRogRYoQYIUaIEWKEGCFGiBFihBghRszNmj9rviwxQowQI8QIMUKMECPECDFCjBAjxAgxQowQI8QIMUKMECPECDFCjBAjjEhhXgzDc4gRYoQYIUaIEWKEGCFGiBFihBghRogRYoQYIUaIEWKEGCFGiBFihBghRogRzlHDbW6IEWKEGCFGiBFihBghRogRYoQYIUaIEWKEGCFGiBFihBghRogRYoQYIUbMxZqTNQAAAAAAAMCLBxKOKWBX0BLNAAAAAElFTkSuQmCC"
alt = "Image of the agender flag" class = 'flag'>

<p><strong>Genderfluid</strong>: Someone who’s gender changes. Sometimes they may feel like a girl, others a boy, and sometimes neither or both.</p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Genderfluidity_Pride-Flag.svg/640px-Genderfluidity_Pride-Flag.svg.png "
alt = "Image of the genderfluid flag" class = 'flag'>
<p><strong>Queer</strong>: Someone who is a member of the LGBTQ+ community. Someone who is genderqueer is someone who isn’t cis. </p>

<p><strong>Cisgender</strong>: Someone whose gender identity matches their assigned gender at birth.</p>

<p><strong>Straight</strong>: Someone who likes people of the “opposite” gender.” Also called heterosexual</p>

<p>Of course, these are <i>countless</i> other labels that people identify with, these are just some umbrella terms!
  Check out our resources page if you want to learn more.</p>
terminology.html
6 KB
</html>
